<div class="item-details" *ngIf="selectedItem">
    <div class="single-item-header">
        <h4 class="name">{{selectedItem.name | uppercase}}</h4>
    </div>
    <p class="category">{{selectedItem.category}}</p>
    <div class="image-wrapper">
        <img [src]="selectedItem?.image" alt="singleItem pic" *ngIf="selectedItem.image">
    </div>
    <div class="info">
        <p class="price">цена: {{selectedItem.price}} лв.</p>
        <p class="details">{{selectedItem.details}}</p>
        <p class="contact">телефон: {{selectedItem.phone}} -
            <span class="contact">{{selectedItem?.username}}</span>
        </p>
    </div>
    <div class="comments">
        <button (click)="pushComment(commentInput.value)">comment</button>
        <input type="text" #commentInput>
        <ng-container *ngIf="comments">
            <p class="comment-single" *ngFor="let comment of comments">{{comment}}</p>
        </ng-container>
    </div>
</div>