<p>single-item-details works!</p>

<div class="single-item" *ngIf="selectedItem">
    <div class="single-item-header">
        <h4 class="name">{{selectedItem.name}}</h4>
    </div>
    <p class="category">{{selectedItem.category}}</p>
    <div class="image-wrapper">
        <img [src]="selectedItem?.image" alt="singleItem pic" *ngIf="selectedItem.image">
    </div>
    <p class="price">{{selectedItem.price}} лв.</p>
    <!-- <p>{{singleItem.details}}</p>
    <p class="contact">phone: {{singleItem.phone}} <span class="contact">{{singleItem?.username}}</span> -->
</div>