<div class="nav">
    <div class="logo">
        <h1 routerLink="/home">Малки обяви</h1>
    </div>
    <ul>
        <li *ngIf="!isAuth"><a routerLink="/">Home</a></li>
        <li *ngIf="isAuth"><a routerLink="/home">Home</a></li>
        <li *ngIf="!isAuth"><a routerLink="/register">Register</a></li>
        <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
        <li *ngIf="isAuth"><a routerLink="/post">Post</a></li>
        <li *ngIf="isAuth"><a routerLink="/" (click)="logout()">Logout</a></li>
    </ul>
    <div class="nik">
        <p *ngIf="nikname">Hello, {{nikname}}</p>
    </div>
</div>