<div class="search" *ngIf="adsFromFirebase">
    <app-search [tobeFiltered]="adsFromFirebase"></app-search>
</div>
<div>
    <h3 *ngIf="errMsg">AN ERROR OCCURRED!!!</h3>
</div>
<button (click)="toggleMyItems()" class="toggle-button">Show / hide my items</button>
<div class="buy-sell-ads" *ngIf="adsFromFirebase">
    <div *ngIf="!showMyItems" class="items">
        <app-single-item-adv *ngFor="let item of adsFromFirebase" [singleItem]="item">
        </app-single-item-adv>
    </div>
    <app-my-items class="my-items" *ngIf="showMyItems">
    </app-my-items>
</div>